.git
.github
.turbo
apps/desktop
**/.turbo
**/.turbo*
**/.next
**/.next*
**/dist
**/release
**/node_modules
**/coverage
**/*.tsbuildinfo
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
!.env.example
docker-compose.override.yml
